language: c
env:
  - TRAVIS_DEBUG_MODE=true
before_install:
  - sudo apt-get update
  - sudo apt install unzip
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_1.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :1 -ac -screen 0 1280x1024x16"
  - sleep 3
  - export DISPLAY=:1.0
  - wget http://downloads.arduino.cc/arduino-1.6.5-linux64.tar.xz
  - tar xf arduino-1.6.5-linux64.tar.xz
  - sudo mv arduino-1.6.5 /usr/local/share/arduino
  - sudo ln -s /usr/local/share/arduino/arduino /usr/local/bin/arduino
install:
  - git clone https://github.com/OPEnSLab-OSU/Loom_Auxiliary.git
  - unzip ./Loom_Auxiliary/Dependencies/All_Dependencies.zip -d /usr/local/share/arduino/libraries
  - cd /usr/local/share/arduino/libraries
  - git clone https://github.com/OPEnSLab-OSU/Loom.git
  - ln -s $PWD /usr/local/share/arduino/libraries/*
script:
  - arduino --verify --board arduino:avr:uno $PWD/Actuators/Relay/Relay.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/Basic/Basic.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/"Communication Platforms"/LoRa/Receive/Receive.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/"Communication Platforms"/LoRa/Receive_Blocking/Receive_Blocking.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/"Communication Platforms"/LoRa/Transmit/Transmit.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/"Communication Platforms"/nRF/Receive/Receive.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/"Communication Platforms"/nRF/Transmit/Transmit.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/Configuration/ConfigOverSerial/ConfigOverSerial.ino
  - travis_wait 30 arduino --verify --board arduino:avr:uno $PWD/Configuration/Default_Parameters/Default_Parameters.ino

notifications:
  email:
    recipients:
      - kerrada@oregonstate.edu
    on_success: always
    on_failure: always
